<?xml version="1.0" encoding="UTF-8"?>
<Configuration name="Default" status="warn">
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout disableAnsi="false" pattern="%highlight{%date{HH:mm:ss,SSS}{Europe/Paris} %level [%thread] %logger{1.} %X - %message}%n"/>
        </Console>
        <RollingFile
                name="file"
                fileName="\${sys:user.home}/logs/${project.name}.log"
                filePattern="\${sys:user.home}/logs/${project.name}.log.%d{yyyy-MM-dd}.gz"
                ignoreExceptions="false">
            <PatternLayout>
                <Pattern>%date{ISO8601} %level [%thread] %logger{1.} %X - %message%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>

        <Routing name="router">
            <Routes pattern="\$\${env:LOG_TO_FILE}">
                <Route ref="file" key="TRUE"/>
            </Routes>
        </Routing>
    </Appenders>
    <Loggers>
        <Logger level="trace" name="fr.raksrinana.channelpointsminer.miner" additivity="false">
            <AppenderRef ref="console"/>
            <AppenderRef ref="router"/>
        </Logger>
        <Root level="warn" additivity="false">
            <AppenderRef ref="console"/>
            <AppenderRef ref="router"/>
        </Root>
    </Loggers>
</Configuration>
