html {
    background-color: #cccccc;
}

.topnav {
    background-color: #333;
    overflow: hidden;
}

.topnav span {
    text-align: center;
    padding: 14px 16px;
}

.topnav span.left {
    float: left;
}

.topnav span.right {
    float: right;
}

.topnav a {
    color: #f2f2f2;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #04AA6D;
    color: white;
}
