name: Manually deploy docker

on:
  workflow_dispatch:

env:
  APP_JAVA_VERSION: 17
  DOCKER_MINER_IMAGE_NAME: mrcraftcod/channel-points-miner
  DOCKER_VIEWER_IMAGE_NAME: mrcraftcod/channel-points-miner-viewer

jobs:
  publish-miner:
    name: Publish Miner on DockerHub
    runs-on: ubuntu-latest
    concurrency: miner_docker
    steps:
      - name: Checkout source
        uses: actions/checkout@v3
      - name: Set up JDK
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: ${{ env.APP_JAVA_VERSION }}

      - name: Calculate miner image name
        id: miner-image-name
        run: |
          echo "IMAGE_NAME=${DOCKER_MINER_IMAGE_NAME}:${GITHUB_REF##*/}" >> "$GITHUB_OUTPUT"
          echo "IMAGE_NAME_LATEST=${DOCKER_MINER_IMAGE_NAME}:latest" >> "$GITHUB_OUTPUT"
      - name: Push branch/tag on Docker Hub
        uses: gradle/gradle-build-action@v2
        with:
          arguments: |
            :miner:jib
            -PdockerUsername=${{ secrets.DOCKER_USERNAME }}
            -PdockerPassword=${{ secrets.DOCKER_TOKEN }}
            -Djib.to.image=${{ steps.miner-image-name.outputs.IMAGE_NAME }}
      - name: Push latest on Docker Hub
        if: success() && github.ref == 'refs/heads/main'
        uses: gradle/gradle-build-action@v2
        with:
          arguments: |
            :miner:jib
            -PdockerUsername=${{ secrets.DOCKER_USERNAME }}
            -PdockerPassword=${{ secrets.DOCKER_TOKEN }}
            -Djib.to.image=${{ steps.miner-image-name.outputs.IMAGE_NAME_LATEST }}

  publish-viewer:
    name: Publish Viewer on DockerHub
    runs-on: ubuntu-latest
    concurrency: viewer_docker
    steps:
      - name: Checkout source
        uses: actions/checkout@v3
      - name: Set up JDK
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: ${{ env.APP_JAVA_VERSION }}

      - name: Calculate viewer image name
        id: viewer-image-name
        run: |
          echo "IMAGE_NAME=${DOCKER_VIEWER_IMAGE_NAME}:${GITHUB_REF##*/}" >> "$GITHUB_OUTPUT"
          echo "IMAGE_NAME_LATEST=${DOCKER_VIEWER_IMAGE_NAME}:latest" >> "$GITHUB_OUTPUT"
      - name: Push branch/tag on Docker Hub
        uses: gradle/gradle-build-action@v2
        with:
          arguments: |
            :viewer:jib
            -PdockerUsername=${{ secrets.DOCKER_USERNAME }}
            -PdockerPassword=${{ secrets.DOCKER_TOKEN }}
            -Djib.to.image=${{ steps.viewer-image-name.outputs.IMAGE_NAME }}
      - name: Push latest on Docker Hub
        if: success() && github.ref == 'refs/heads/main'
        uses: gradle/gradle-build-action@v2
        with:
          arguments: |
            :viewer:jib
            -PdockerUsername=${{ secrets.DOCKER_USERNAME }}
            -PdockerPassword=${{ secrets.DOCKER_TOKEN }}
            -Djib.to.image=${{ steps.viewer-image-name.outputs.IMAGE_NAME_LATEST }}
