name: Manually deploy docker

on:
  workflow_dispatch:

jobs:
  publish-miner:
    name: Publish Miner on DockerHub
    runs-on: ubuntu-latest
    concurrency: miner_docker
    steps:
      - name: Checkout source
        uses: actions/checkout@v4
      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: ${{ vars.JAVA_VERSION }}
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3.0.0

      - name: Calculate miner image name
        id: miner-image-name
        run: |
          echo "IMAGE_NAME=${{ vars.DOCKER_IMAGE_MINER }}:${GITHUB_REF##*/}" >> "$GITHUB_OUTPUT"
          echo "IMAGE_NAME_LATEST=${{ vars.DOCKER_IMAGE_MINER }}:latest" >> "$GITHUB_OUTPUT"
      - name: Push branch/tag on Docker Hub
        run: |
          ./gradlew \
          :miner:jib \
          -Djib.to.auth.username=${{ secrets.DOCKER_USERNAME }} \
          -Djib.to.auth.password=${{ secrets.DOCKER_TOKEN }} \
          -Djib.to.image=${{ steps.miner-image-name.outputs.IMAGE_NAME }}
      - name: Push latest on Docker Hub
        if: success() && github.ref == 'refs/heads/main'
        run: |
          ./gradlew \
          :miner:jib \
          -Djib.to.auth.username=${{ secrets.DOCKER_USERNAME }} \
          -Djib.to.auth.password=${{ secrets.DOCKER_TOKEN }} \
          -Djib.to.image=${{ steps.miner-image-name.outputs.IMAGE_NAME_LATEST }}

  publish-viewer:
    name: Publish Viewer on DockerHub
    runs-on: ubuntu-latest
    concurrency: viewer_docker
    steps:
      - name: Checkout source
        uses: actions/checkout@v4
      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: ${{ env.APP_JAVA_VERSION }}
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3.0.0

      - name: Calculate viewer image name
        id: viewer-image-name
        run: |
          echo "IMAGE_NAME=${{ vars.DOCKER_IMAGE_VIEWER }}:${GITHUB_REF##*/}" >> "$GITHUB_OUTPUT"
          echo "IMAGE_NAME_LATEST=${{ vars.DOCKER_IMAGE_VIEWER }}:latest" >> "$GITHUB_OUTPUT"
      - name: Push branch/tag on Docker Hub
        run: |
          ./gradlew \
          :viewer:jib \
          -Djib.to.auth.username=${{ secrets.DOCKER_USERNAME }} \
          -Djib.to.auth.password=${{ secrets.DOCKER_TOKEN }} \
          -Djib.to.image=${{ steps.viewer-image-name.outputs.IMAGE_NAME }}
      - name: Push latest on Docker Hub
        if: success() && github.ref == 'refs/heads/main'
        run: |
          ./gradlew \
          :viewer:jib \
          -Djib.to.auth.username=${{ secrets.DOCKER_USERNAME }} \
          -Djib.to.auth.password=${{ secrets.DOCKER_TOKEN }} \
          -Djib.to.image=${{ steps.viewer-image-name.outputs.IMAGE_NAME_LATEST }}
