name: Release

on:
  push:
    tags:
      - "*.*.*"

jobs:
  publish-docker-miner:
    name: Publish Miner on DockerHub
    runs-on: ubuntu-latest
    concurrency: miner_docker_latest
    environment: DockerHub
    steps:
      - name: Checkout source
        uses: actions/checkout@v6.0.2
      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: ${{ vars.JAVA_VERSION }}
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5.0.1

      - name: Push latest on Docker Hub
        run: |
          ./gradlew \
          :miner:jib \
          -Djib.to.auth.username=${{ secrets.DOCKER_USERNAME }} \
          -Djib.to.auth.password=${{ secrets.DOCKER_TOKEN }} \
          -Djib.to.image=${{ vars.DOCKER_IMAGE_MINER }}:latest

  publish-docker-viewer:
    name: Publish Viewer on DockerHub
    runs-on: ubuntu-latest
    concurrency: viewer_docker_latest
    environment: DockerHub
    steps:
      - name: Checkout source
        uses: actions/checkout@v6.0.2
      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: ${{ vars.JAVA_VERSION }}
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5.0.1

      - name: Push latest on Docker Hub
        run: |
          ./gradlew \
          :viewer:jib \
          -Djib.to.auth.username=${{ secrets.DOCKER_USERNAME }} \
          -Djib.to.auth.password=${{ secrets.DOCKER_TOKEN }} \
          -Djib.to.image=${{ vars.DOCKER_IMAGE_VIEWER }}:latest

  publish-release:
    name: Publish Release
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout source
        uses: actions/checkout@v6.0.2
      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: ${{ vars.JAVA_VERSION }}
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5.0.1

      - name: Build project
        run: |
          ./gradlew \
          assemble
      - name: Release
        uses: softprops/action-gh-release@v2.5.0
        with:
          fail_on_unmatched_files: false
          generate_release_notes: true
          files: |
            miner/build/libs/*-shaded.jar
            viewer/build/libs/viewer-*.jar
